# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Django stuff:
*.log


# Sphinx documentation
docs/_build/


# Blender backup files
*.blend1
*.blend2

#PSD Files
*.psd
*.psd

# Windows system files
Thumbs.db